@mixin helvetica-neue-font-family($num: 57, $variant: 'Thin') {
  font-family: "Helvetica Neue CE #{$num} #{$variant}", "Helvetica Neue LT #{$num} #{$variant}", "Helvetica Neue #{$num} #{$variant}", "HelveticaNeue-#{$variant}", "Helvetica Neue #{$variant}", "Helvetica Neue", "Helvetica #{$variant}", Helvetica, Arial, sans-serif;
}

@mixin helvetica-neue-medium-cond() {
  @include helvetica-neue-font-family(67, 'Medium');
  font-weight: 400;
}

@mixin helvetica-neue-thin-cond() {
  @include helvetica-neue-font-family(25, 'UltraLight');
  font-weight: 100;
}

@mixin helvetica-neue-light-cond() {
  @include helvetica-neue-font-family(47, 'Light');
  font-weight: 300;
}       

@mixin remove-gradient($color: transparent) {
  background-color: $color;
  background-image: none;
  background-repeat: no-repeat;
  filter: none;
}

@mixin set-box-sizing() {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}